<div class="top">
  <div class="top_image bg-dark text-white">
    <%= image_tag 'reha2', class: 'bd-placeholder-img bd-placeholder-img-lg card-img'%>
  
    <div class="card-img-overlay">
      <p >転職をもっと気軽に</p>
    </div>
  </div>
    
  <div class="top_about bg-light">
    <h2 class="text-center bg-dark text-white">リライフ</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center top_content">
        <h5>リライフは、仕事のやりがいや価値観を照らし合い満足いく出会いを提供しています。</h5>
        <%= image_tag 'top', class: 'top_content_img' %>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="top_left col-lg-5">
        <h2 class="text-center">転職先を探している方</h2>
        <%= image_tag 'login-user', class: 'top_content_img'%>
        <%= image_tag 'article-user', class: 'top_content_img'%>
        <%= image_tag 'show-user', class: 'top_content_img'%>
      </div>
      <div class="top_right col-lg-5">
        <h2 class="text-center">採用担当者様</h2>
        <%= image_tag 'login-company', class: 'top_content_img'%>
        <%= image_tag 'article-company', class: 'top_content_img'%>
        <%= image_tag 'create-company', class: 'top_content_img'%>
      </div>
    </div> 
  </div>

</div>