<%= link_to article_path(article) do %>
    <div class="card">
      <div class="card_content">
        <div class="card_title">
          <%= article.title %>
        </div>
        <div class="card_detail">
          <div>
            <p><%= article.company.display_name %></p>
            <p><%= article.display_created_at %></p>
            <div class="card_heart">
              <%= image_tag 'heart.svg' %>
              <span><%= article.like_count %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>