<%= link_to article_path(article) do %>
<div class="card">
 <% if article.eyecatch.attached? %>
      <div class="card_image">
        <%= image_tag article.eyecatch %>
      </div>
  <% end %>
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= article.company.display_name %></p>
    <p class="card-text"><%= article.display_created_at %></p>
    <div class="card_detail">
      <%= image_tag article.company.avatar_image %>
      <p><%= article.company.display_name %></p>
    </div>
    <div class="card_heart">
      <%= image_tag 'heart.svg' %>
      <span><%= article.like_count %></span>
    </div> 
    <a href="#" class="btn btn-primary float-right">Go somewhere</a>  
</div>
<% end %>
