<div class="card">
  <%= link_to article_path(article) do %>
    <div class="card_main">
      <% if article.eyecatch.attached? %>
          <div class="card_main_image">
            <%= image_tag article.eyecatch %>
          </div>
      <% end %>

        <div class="card_main_job"><%= article.Job_title %></div>
        <div class="card_main_title"><%= article.title %></div>
        <div class="card_main_text">更新日<%= article.display_updated_at %></div>
    </div>
  <% end %>



  <div class="row card_bottom">
    <%= link_to relationship_path(article.company) do %>
      <div class="col-auto mr-auto card_bottom_detail">
        <%= image_tag article.company.avatar_image %>
        <%= article.company.display_name %>
      </div>
    <% end %>
    <div class="col-auto card_bottom_heart">
      <%= image_tag 'heart.svg' %>
      <span><%= article.like_count %></span>
    </div> 
  </div>
</div>
