<div class="main">
  <div class="container profile">
    <div class="row">
      <div class="col text-center profile_top">
        <h1>My Page</h1>
        <h3>マイページ</h3>
      </div>
    </div>
    <div class="row profile_content">
      <div class="col-lg-4">
        <div class="profile_image">
        <%= image_tag company.avatar_image %>
        </div>
      </div>
      <div class="col-lg-8">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">企業名</th>
              <td><%= company.display_name %></td>
            </tr>
            <tr>
              <th scope="row">何してる</th>
              <td><%= company.company_profile&.introduction %></td>
            </tr>
            <tr>
              <th scope="row">場所</th>
              <td><%= company.company_profile&.address %></td>
            </tr>
            <tr>
              <th scope="row">電話番号</th>
              <td><%= company.company_profile&.phone_number %></td>
            </tr>
          </tbody>
        </table>
        <div class="profilePage_user_actionButton btn">
            <% if company == current_company%>
              <%= link_to 'プロフィールの編集', edit_company_profile_path %>
            <% else %>
            <% if current_user&.has_followed?(company) %>
                <%= link_to 'フォロー中', relationship_unfollows_path(company),class: "follow" , data: {method: 'post'} %>
              <% else %>
              <%= link_to 'フォロー', relationship_follows_path(company),class: "unfollow" , data: {method: 'post'} %>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>