
<div class="container">
  <% @users.each do |user| %>
   
<div class="card mb-3 container">
  <div class="row no-gutters">
    <div class="col-md-4">
      <div class="profile_image mt-5">
      <% if user.avatar&.attached? %>
        <%= image_tag user.avatar %>
      <% else %>
        <%= image_tag 'default-avatar' %>
      <% end %>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card-body mt-md-5">
        <h5 class="card-title"><%= user.nickname %></h5>
        <table class="table table-borderless">
        <tbody>
            <th scope="row">年齢</th>
            <td><%= user.age || '年齢未設定' %></td>
          </tr>
          <tr>
            <th scope="row">性別</th>
            <td><%= I18n.t("enum.genders.#{user.gender || 'unknown'}") %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>




  <% end %>

</div>

