<!DOCTYPE html>
<html>
  <head>
    <title>転職サイト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
  </head>

  <body>
  <header class="header">
        <div class="header_logos">
          <% if !current_page?(root_path) %>
            <%= link_to :back do %>
              <%= image_tag 'back.svg', class: 'header_back' %>
            <% end %>
          <% end %>
        <%= link_to '転職サイト', root_path, class: 'header_pageTitle' %>
      </div>
      <div class="dropdown">
        <%= image_tag current_user.avatar_image, class: 'header_back', class: 'header_avatar dropbtn' %>
        <div class="dropdown-content">
          <% if user_signed_in? %>
            <%= link_to 'プロフィール', profile_path %>
            <%= link_to 'ユーザーログアウト', destroy_user_session_path,　data: { method: 'delete' } %>
          <% elsif company_signed_in? %>
            <%= link_to '法人ログアウト', destroy_company_session_path,　data: { method: 'delete' } %>
          <% else %>
            <%= link_to 'ユーザーログイン', new_user_session_path %>
            <%= link_to '法人ログイン', new_company_session_path %>
            <%= link_to 'ユーザー登録', new_user_registration_path %>
            <%= link_to '法人登録', new_company_registration_path %>
            <a href='#'>簡単ログイン</a>
          <% end %>
        </div>
      </div>
    
  </header>
    <% if flash.present? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
