<!DOCTYPE html>
<html>
  <head>
    <title>MyPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="header-nav container clear">
      <div class="header-left">
        <h1>転職サイト</h1>
      </div>
      <div class="header-right">
        <ul class="navbar">
          <li class="navbar-item"><a href='#'>ログイン</a></li>
          <li class="navbar-item"><a href='#'>ユーザー登録</a></li>
          <li class="navbar-item"><a href='#'>法人登録</a></li>
          <li class="navbar-item"><a href='#'>簡単ログイン</a></li>
        </ul>
      </div>
    </div>
  </header>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
